.carouselContainer {
  padding: 80px 100px;
  background-color: #FFDD00;
}
.partners_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners_par {
  background: #FDDEDE;
  padding: 8px 16px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #AE0A0A;
}
.banner_h4 {
  margin: 16px 0 48px 0;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.carouselContainerInner {
  display: block;
  align-items: center;
}
.carousel {
  display: flex;
  overflow: hidden;
}
.carouselItem {
  position: relative;
  margin: 0 10px;
}
.imageWrapper {
  position: relative;
}
.carouselImage {
  width: 100%;
  height: auto;
}
.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 20px;
  /* align-items: center; */
  /* justify-content: center; */
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 16px;
}
.carouselItem:hover .imageOverlay {
  opacity: 1;
}
.navButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.navButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  z-index: 10; 
}
.navButton:hover {
  color: #555;
}
.navButtonLeft {
  margin-right: 10px;
}
.navButtonRight {
  margin-left: 10px;
}

@media only screen and (max-width: 1270px) and (min-width: 1024px) {
  .carouselContainer {
    padding: 80px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 600px) {
  .carouselContainer {
    padding: 80px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 80px 20px;
  }
  .carouselContainer {
    padding: 80px 20px;
    background-color: #FFDD00;
  }
  .carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .carouselItem {
    flex: 0 0 100%; /* Take full width for a single image */
    max-width: 100%;
  }
}